<div class="full-page-image">
  <div class="row">
    <div class="col" style="max-width: 700px !important">
      <div class="content"></div>
    </div>
    <div class="col">
      <div class="container">
        <h1>ENTRE OU CADASTRE-SE</h1>
        <div class="limits">
          <span>Email</span>
        </div>
        <div class="input-group">
          <input type="email" name="valorFormatado" />
        </div>
        <div class="limits">
          <span>Senha</span>
        </div>
        <div class="input-group">
          <input type="password" name="valorFormatado" />
        </div>
        <div class="input-group">
          <p><input type="checkbox" style="width: 20px;" /> <span>Lembrar minha senha?</span></p>
        </div>
        <button class="btn-simulate">Entrar</button>
      </div>
    </div>
  </div>
</div>
