<nav class="navbar">
  <a routerLink="/main" class="logo"
    ><img src="assets/logo.png" alt="Company Logo"
  /></a>
  <div class="nav-links">
    <a routerLink="/simule">Simule seu crédito</a>
    <a routerLink="/simule">Pessoa jurídica</a>
    <a routerLink="/quem-somos">Benefícios corporativos</a>
    <!-- <a routerLink="/pj">Pessoa jurídica</a>
    <a routerLink="/beneficios-corporativos">Benefícios corporativos</a> -->
    <a routerLink="/quem-somos">Quem somos</a>
    <a routerLink="/login" class="login-btn">ENTRAR</a>
  </div>
</nav>
